@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Light.otf) format("opentype");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Regular.otf) format("opentype");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Medium.otf) format("opentype");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Bold.otf) format("opentype");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-ExtraBold.otf) format("opentype");
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "Janna";
		src: url(/fonts/Janna-Bold.ttf) format("truetype");
		font-style: normal;
		font-display: swap;
	}
	* {
		font-family: "CoreSans";
	}
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}
