@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Light.woff2) format("opentype");
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Regular.woff2) format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Medium.woff2) format("woff2");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-Bold.woff2) format("woff2");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "CoreSans";
		src: url(/fonts/CoreSans-ExtraBold.woff2) format("woff2");
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: "GalanoGrotesque";
		src: url(/fonts/GalanoGrotesque-Bold.woff2) format("woff2");
		font-style: normal;
		font-display: swap;
	}
}

* {
	font-family: "CoreSans";
	color: #0e0c0b;

	-webkit-tap-highlight-color: transparent;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
}

nav {
	position: -webkit-sticky;
	position: sticky;
}

.full-screen {
	height: calc(100vh);
}

.h-screen {
	height: calc(100vh - 84px);
	height: calc((var(--vh, 1vh) * 100) - 84px);
}

.wave1 {
	background-image: url(".././public/images/waves1.svg");
}

.wave2 {
	background-image: url(".././public/images/waves2.svg");
}
